/**/target/
/target/
/nbproject/
/.idea/
*.iml
/jbbp-plugins/jbbp-gradle/.gradle/
/jbbp-plugins/jbbp-gradle/build/
/jbbp/BenchmarkList
/jbbp/CompilerHints
/jbbp/nb-configuration.xml
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/converters/Java16Converter.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/converters/JBBPScriptTranslator$Parameters.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/converters/JBBPScriptTranslator.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/converters/ParserFlags.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/converters/Target.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/common/utils/CommonUtils.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/mvn/AbstractJBBPMojo.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/mvn/HelpMojo.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/mvn/JBBPCleanMojo.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/mvn/JBBPGenerateMojo$1.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/com/igormaznitsa/jbbp/plugin/mvn/JBBPGenerateMojo.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/META-INF/maven/com.igormaznitsa/jbbp-maven-plugin/plugin-help.xml
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/classes/META-INF/maven/plugin.xml
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/generated-sources/plugin/com/igormaznitsa/jbbp/plugin/mvn/HelpMojo.java
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-archiver/pom.properties
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/surefire-reports/TEST-com.igormaznitsa.jbbp.plugin.mvn.JBBPGenerateMojoTest.xml
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/test-classes/com/igormaznitsa/jbbp/plugin/mvn/JBBPGenerateMojoTest.class
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/test-classes/com/igormaznitsa/jbbp/plugin/mvn/mojoConfig.xml
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/jbbp-maven-plugin-2.0.0-SNAPSHOT.jar
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/jbbp-maven-plugin-2.0.0-SNAPSHOT-bundle.jar
/jbbp-plugins/jbbp-maven/jbbp-maven-plugin/target/maven-plugin-help.properties
