/**/target/
/target/
/nbproject/
/**/.idea/
*.iml
/jbbp-plugins/jbbp-gradle/.gradle/
/jbbp-plugins/jbbp-gradle/build/
/jbbp/BenchmarkList
/jbbp/CompilerHints
/jbbp/nb-configuration.xml
/jbbp-plugins/**/target/
/jbbp/jmh-out.txt
/jbbp/jmh-result.json
/jbbp-plugins/jbbp-gradle/.settings/
/jbbp-plugins/jbbp-gradle/bin/
/jbbp-plugins/jbbp-gradle/.classpath
/jbbp-plugins/jbbp-gradle/.project
/**/.vscode/
/jbbp-plugins/jbbp-gradle/gradle/wrapper/
/jbbp-plugins/jbbp-gradle/gradlew
/jbbp-plugins/jbbp-gradle/gradlew.bat
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle6-plugin-test/.gradle/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle6-plugin-test/build/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle7-plugin-test/.gradle/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle7-plugin-test/build/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle8-plugin-test/.gradle/
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle8-plugin-test/build/
