/**/target/
/target/
/nbproject/
/**/.idea/
*.iml
/jbbp-plugins/jbbp-gradle/.gradle/
/jbbp-plugins/jbbp-gradle/build/
/jbbp/BenchmarkList
/jbbp/CompilerHints
/jbbp/nb-configuration.xml
/jbbp-plugins/**/target/
/jbbp/jmh-out.txt
/jbbp/jmh-result.json
/jbbp-plugins/jbbp-gradle/.settings/
/jbbp-plugins/jbbp-gradle/bin/
/jbbp-plugins/jbbp-gradle/.classpath
/jbbp-plugins/jbbp-gradle/.project
/**/.vscode/
/jbbp-plugins/jbbp-gradle/gradle/wrapper/
/jbbp-plugins/jbbp-gradle/gradlew
/jbbp-plugins/jbbp-gradle/gradlew.bat
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotations$SOME1$SOME2.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotations$SOME1.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotations.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotationsNonStatic$SOME1$SOME2.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotationsNonStatic$SOME1.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/GenAnnotationsNonStatic.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/VarCustom.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/test/jbbp/WholeStreamByteArray.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/com/igormaznitsa/mvn/tst/VarCustomImpl.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/main/org/example/Main.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/classes/java/test/org/example/MainTest.class
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/generated-jbbp-dir/com/igormaznitsa/mvn/test/jbbp/GenAnnotations.java
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/generated-jbbp-dir/com/igormaznitsa/mvn/test/jbbp/GenAnnotationsNonStatic.java
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/generated-jbbp-dir/com/igormaznitsa/mvn/test/jbbp/VarCustom.java
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/generated-jbbp-dir/com/igormaznitsa/mvn/test/jbbp/WholeStreamByteArray.java
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/classes/org.example.MainTest.html
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/css/base-style.css
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/css/style.css
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/js/report.js
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/packages/org.example.html
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/reports/tests/test/index.html
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/test-results/test/binary/output.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/test-results/test/binary/output.bin.idx
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/test-results/test/binary/results.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/build/test-results/test/TEST-org.example.MainTest.xml
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/executionHistory/executionHistory.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/executionHistory/executionHistory.lock
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/fileChanges/last-build.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/fileContent/fileContent.lock
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/fileHashes/fileHashes.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/fileHashes/fileHashes.lock
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/fileHashes/resourceHashesCache.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/javaCompile/classAnalysis.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/javaCompile/jarAnalysis.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/javaCompile/javaCompile.lock
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/javaCompile/taskHistory.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/5.6.4/gc.properties
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/buildOutputCleanup/cache.properties
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/buildOutputCleanup/outputFiles.bin
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/vcs-1/gc.properties
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/workspace-id.txt
/jbbp-plugins/jbbp-gradle-tests/jbbp-gradle5-plugin-test/.gradle/workspace-id.txt.lock
